{% extends 'base.html.twig' %}

{% block title %}Hello DriverController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1024px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<!-- Start of first page -->
<div data-role="page" id="previousorders">
	<div class="example-wrapper">

		<div role="main" class="ui-content">
			<h2>Orders in Progress</h2>
			<div id="pending-orders"></div>

			<h2>Orders out for Delivery</h2>
			<div id="progress-orders"></div>

			<h2>Completed Orders</h2>
			<div id="completed-orders"></div>
			
		</div>
		<!-- /content -->
	</div>
</div>

<script>
var user_id =localStorage.getItem('user_id');
console.log(user_id);


	$.post("/AvailableOrders").done(function(data){
	$('#pending-orders').html(data);

	$('.collect-order').on('click', function(event){
		var orderId = $(this).closest('tr').find('.order-id').html();
		console.log(orderId);
		$.post("/OrderStatus",{type:'collect', orderid:orderId, user:user_id}).done(function(data){
		window.location="/Driver"
		});
	});

});

$.post("/ProgressOrders", {id:user_id}).done(function(data){
	$('#progress-orders').html(data);
	
	$('.deliver-order').on('click',function(event){
		var orderId = $(this).closest('tr').find('.order-id').html();
		$.post("/OrderStatus",{type:'delivered', orderid:orderId}).done(function(data){
		window.location="/Driver"
		});
	});

	});

$.post("/CompletedOrders",{id:user_id}).done(function(data){
	$('#completed-orders').html(data);
	
	});






</script>
{% endblock %}
