#login-landing .center {
	text-align:center;
	margin:50px;
	display:block;
}

.padding-10 {
	padding:10px;
}

.padding-20 {
	padding:20px;
}

.width-100 {
	width:100%;
}

#order th {
	text-align:left;
}